<!DOCTYPE html>
<html>
  <head>
    <title>Glitch support tools</title>
    <meta name="description" content="Tools for supporting Glitch users">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        The tools of tomorrow, today!
      </h1>
    </header>

    <main>
    
      <form id="suspend">
        <h2>Suspend Project</h2>
        <label>
          <h3>Domain or Id</h3>
          <input type="text" name="domain">
        </label>
        <label>
          <h3>Reason (displayed to user)</h3>
          <input type="text" name="reason" value="Excessive resource utilization">
        </label>
        <button>Suspend</button>
      </form>
  
      <form id="unsuspend">
        <h2>Unsuspend Project</h2>
        <label>
          <h3>Domain or Id</h3>
          <input type="text" name="domain">
        </label>
        <button>Restore</button>
      </form>

      <form id="delete-custom-domain">
        <h2>Delete Custom Domain (from project_cnames AND fly.io)</h2>
        <label>
          <h3>Project Id</h3>
          <input type="text" name="project_id">
        </label>
        <label>
          <h3>Custom Domain</h3>
          <input type="text" name="domain">
        </label>
        <button>Delete Custom Domain</button>
      </form>

<!--       <form id="add-custom-domain">
        <h2>Unsuspend Project</h2>
        <label>
          <h3>Domain or Id</h3>
          <input type="text" name="domain">
        </label>
        <button>Restore</button>
      </form>
 -->
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
